<!-- NAVBAR -->
<section id="nav" class="nav"></section>
<!-- moi -->
<section id="aboutMe" class="aboutMe">
    <article class="contenuSection">

    </article>
</section>
<!-- competences -->
<section id="skills" class="skills">
    <article class="contenuSection">

    </article>
</section>
<!-- cv -->
<section id="cv" class="cv">
    <article class="contenuSection">

    </article>
</section>
<!-- portafolio -->
<section id="portafolio" class="portafolio">
    <article class="contenuSection">

    </article>
</section>
<!-- contact -->
<section id="contact" class="contact">
    <article class="contenuSection">

    </article>
</section>

